<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Bilabonnement</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">


    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <!--    <script src="/scripts/image-visibility.js"></script>-->


    <script>
        $(function () {
            $("#tabs").tabs();
            $("#tabs-cars").tabs();
            $("#tabs-subscription").tabs();
            $("#tabs-accounting").tabs();
            $("#tabs-service").tabs();
            $("#tabs-webs").tabs();
        });
    </script>

    <style>


        body {
            background-color: lightblue;
        }

        .flex-container {
            display: flex;
            max-height: 50%;
            align-content: space-between;
        }

        .container {
            position: relative;
            width: auto;
            max-height: inherit;
        }

        .container h3:hover {
            cursor: pointer;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        table {
            width: 1000px;
            padding: 1px;
            width: auto;
            display: flex;
            border-collapse: separate;
            box-sizing: border-box;
            text-indent: initial;
            border-spacing: 2px;
            border-color: grey;
        }


        tbody {
            vertical-align: middle;
            border-color: inherit;
            font-size: 29px;
            display: block;
            word-wrap: break-word;
        }

        td {
            display: table-cell;
            vertical-align: inherit;
            padding: 0 5px;
            border: 1px solid black;
            background-color: white;
        }

        tr {
            display: flex;
            display: table-row;
            width: max-content;
            vertical-align: inherit;
            border-color: inherit;
        }

    </style>
</head>
<body>
<div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">

    <ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
        <li role="tab" tabindex="0" class="ui-tabs-nav ui-corner-top ui-state-default ui-tab
    ui-tabs-active ui-state-active" aria-controls="start" aria-labelledby="ui-id-1"
            aria-selected="true" aria-expanded="true">
            <a href="#start" tabindex="-1" class="ui-tabs-anchor" id="ui-id-1">Welcome!</a>
        </li>
        <li role="tab" tabindex="-1" class="ui-tabs-nav ui-corner-top ui-state-default ui-tab"
            aria-controls="cars" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false">
            <a href="#cars" tabindex="-1" class="ui-tabs-anchor" id="ui-id-2">Cars</a>
        </li>
        <li role="tab" tabindex="-1" class="ui-tabs-nav ui-corner-top ui-state-default ui-tab"
            aria-controls="subscription" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false">
            <a href="#subscription" tabindex="-1" class="ui-tabs-anchor" id="ui-id-3">Subscription</a>
        </li>
        <li role="tab" tabindex="-1" class="ui-tabs-nav ui-corner-top ui-state-default ui-tab"
            aria-controls="accounting" aria-labelledby="ui-id-4" aria-selected="false" aria-expanded="false">
            <a href="#accounting" tabindex="-1" class="ui-tabs-anchor" id="ui-id-4">Accounting</a>
        </li>
        <li role="tab" tabindex="-1" class="ui-tabs-nav ui-corner-top ui-state-default ui-tab"
            aria-controls="service" aria-labelledby="ui-id-5" aria-selected="false" aria-expanded="false">
            <a href="#service" tabindex="-1" class="ui-tabs-anchor" id="ui-id-5">Service</a>
        </li>
    </ul>

    <div id="start" aria-labelledby="ui-id-1" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="false">

        <h1>Greetings from skynet!</h1>
        <h4>Welcome to the frontpage of BilAbonnement!</h4>
        <h4>From here you will now have access to the program and its features!</h4><br>
        <h5>Have a nice day!</h5>
        <br>
    </div>

    <div id="cars" aria-labelledby="ui-id-2" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">

        <div id="tabs-cars" class="ui-tabs ui-corner-all ui-widget ui-widget-content">

            <ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">

                <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                    aria-controls="qs-1" aria-labelledby="ui-id-7" aria-selected="false" aria-expanded="false">
                    <a href="#qs-1" tabindex="-1" class="ui-tabs-anchor" id="ui-id-7">All</a>
                </li>
                <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                    aria-controls="qs-2" aria-labelledby="ui-id-8" aria-selected="false" aria-expanded="false">
                    <a href="#qs-2" tabindex="-1" class="ui-tabs-anchor" id="ui-id-8">Luxury</a>
                </li>
                <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                    aria-controls="qs-3" aria-labelledby="ui-id-9" aria-selected="false" aria-expanded="false">
                    <a href="#qs-3" tabindex="-1" class="ui-tabs-anchor" id="ui-id-9">Big</a>
                </li>
                <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                    aria-controls="qs-4" aria-labelledby="ui-id-10" aria-selected="false" aria-expanded="false">
                    <a href="#qs-4" tabindex="-1" class="ui-tabs-anchor" id="ui-id-10">Medium</a>
                </li>
                <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                    aria-controls="qs-5" aria-labelledby="ui-id-11" aria-selected="false" aria-expanded="false">
                    <a href="#qs-5" tabindex="-1" class="ui-tabs-anchor" id="ui-id-11">Small</a>
                </li>
            </ul>

            <div id="qs-1" aria-labelledby="ui-id-7" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">
                <div class="flex-container">
                    <div class="container">
                        <table class="container">
                            <tbody>
                            <tr>
                                <td>ID</td>
                                <td>Serialnumber</td>
                                <td>Type</td>
                                <td>Damaged</td>
                                <td>Available</td>
                            </tr>
                            <tr th:each="car :${AllCars}">
                                <td th:text="${car.id}"></td>
                                <td th:text="${car.serialnumber}"></td>
                                <td th:text="${car.type}"></td>
                                <td th:text="${car.isDamagedString}"></td>
                                <td th:text="${car.isAvailableString}"></td>
                            </tr>


                            </tbody>
                        </table>
                    </div>


                    <div class="container">
                        <img src="https://media.istockphoto.com/id/480652712/photo/dealer-new-cars-stock.jpg?s=612x612&w=0&k=20&c=Mzfb5oEeovQblEo160df-xFxfd6dGoLBkqjjDWQbd5E="
                             alt="All cars"
                             style="object-fit: cover;
                             width: auto;
                             height: 300px;
                             float: left;">

                    </div>
                </div>
            </div>

            <div id="qs-2" aria-labelledby="ui-id-8" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">
                <div class="flex-container">
                    <div class="container">

                        <table class="container">
                            <tbody>
                            <tr>
                                <td>ID</td>
                                <td>Serialnumber</td>
                                <td>Damaged</td>
                                <td>Available</td>
                            </tr>
                            <tr th:each="car :${LuxuryCars}">
                                <td th:text="${car.id}"></td>
                                <td th:text="${car.serialnumber}"></td>
                                <td th:text="${car.isDamagedString}"></td>
                                <td th:text="${car.isAvailableString}"></td>

                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="container">
                        <img src="https://www.motorcarsofjackson.com/wp-content/uploads/2020/04/720s-website.jpg"
                             alt="Luxury cars"
                             style="object-fit: cover;
                             width: auto;
                             height: 300px;
                             float: left;"
                        >
                    </div>
                </div>
            </div>

            <div id="qs-3" aria-labelledby="ui-id-9" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">
                <div class="flex-container">
                    <div class="container">
                        <table class="container">
                            <tbody>
                            <tr>
                                <td>ID</td>
                                <td>Serialnumber</td>
                                <td>Damaged</td>
                                <td>Available</td>
                            </tr>
                            <tr th:each="car :${BigCars}">
                                <td th:text="${car.id}"></td>
                                <td th:text="${car.serialnumber}"></td>
                                <td th:text="${car.isDamagedString}"></td>
                                <td th:text="${car.isAvailableString}"></td>

                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="container">
                        <img id="bigCar"
                             src="https://www.autotrader.com/wp-content/uploads/2020/02/2021-GMC-Yukon-Denali-045.jpg"
                             alt="Big cars"
                             style="object-fit: cover;
                             width: auto;
                             height: 300px;
                             float: left">
                    </div>
                </div>
            </div>

            <div id="qs-4" aria-labelledby="ui-id-10" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">
                <div class="flex-container">
                    <div class="container">
                        <table class="container">
                            <tbody>
                            <tr>
                                <td>ID</td>
                                <td>Serialnumber</td>
                                <td>Damaged</td>
                                <td>Available</td>
                            </tr>
                            <tr th:each="car :${MediumCars}">
                                <td th:text="${car.id}"></td>
                                <td th:text="${car.serialnumber}"></td>
                                <td th:text="${car.isDamagedString}"></td>
                                <td th:text="${car.isAvailableString}"></td>

                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="container">
                        <img src="https://media.product.which.co.uk/prod/images/original/gm-444d3599-d98e-4908-9413-39fa75c682af-focusheader.jpg"
                             alt="Medium cars"
                             style="object-fit: cover;
                             width: auto;
                             height: 300px">

                    </div>
                </div>
            </div>

            <div id="qs-5" aria-labelledby="ui-id-11" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">
                <div class="flex-container">
                    <div class="container">
                        <table class="container">
                            <tbody>
                            <tr>
                                <td>ID</td>
                                <td>Serialnumber</td>
                                <td>Damaged</td>
                                <td>Available</td>
                            </tr>
                            <tr th:each="car :${SmallCars}">
                                <td th:text="${car.id}"></td>
                                <td th:text="${car.serialnumber}"></td>
                                <td th:text="${car.isDamagedString}"></td>
                                <td th:text="${car.isAvailableString}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="container">
                        <img src="https://www.topgear.com/sites/default/files/images/cars-road-test/2016/10/3d496612a0e4dc853e50c7f2a916039f/16c606_036_d312193.jpg"
                             alt="Small cars"
                             style="object-fit: cover;
                             width: auto;
                             height: 300px;
                             float: left">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="subscription" aria-labelledby="ui-id-3" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">
        <div id="tabs-subscription" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
            <ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
                <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                    aria-controls="2-qs-1" aria-labelledby="ui-id-16" aria-selected="false" aria-expanded="false">
                    <a href="#2-qs-1" tabindex="-1" class="ui-tabs-anchor" id="ui-id-16">Create new leasing</a>
                </li>
                <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                    aria-controls="2-qs-2" aria-labelledby="ui-id-17" aria-selected="false" aria-expanded="false">
                    <a href="#2-qs-2" tabindex="-1" class="ui-tabs-anchor" id="ui-id-17">Cancel leasing</a>
                </li>
                <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                    aria-controls="2-qs-4" aria-labelledby="ui-id-19" aria-selected="false" aria-expanded="false">
                    <a href="#2-qs-4" tabindex="-1" class="ui-tabs-anchor" id="ui-id-19">View all leasings</a>
                </li>
            </ul>

            <div id="2-qs-1" aria-labelledby="ui-id-16" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
            ui-widget-content" aria-hidden="true" style="display: none;">
                <div class="row">
                    <form action="/createleasing" method="post">
                        <div style="width: 257px" id="customerInformationColumn" class="column">

                            <h4><b>Customer information</b></h4>

                            <label for="name">Name</label><br>
                            <input style="border-radius: 15px" type="text" required name="name" id="name"
                                   placeholder=" Enter name"> <br>

                            <label for="email">E-mail</label><br>
                            <input style="border-radius: 15px" type="text" required name="email" id="email"
                                   placeholder=" Enter e-mail"
                                   pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                                   oninvalid="this.setCustomValidity('Invalid email: @ or . is missing')"
                                   onkeyup="setCustomValidity('')"> <br>

                            <label for="cprCreate">CPR</label><br>
                            <input style="border-radius: 15px" type="text" required name="cpr" id="cprCreate"
                                   placeholder=" Enter CPR"
                                   pattern="[0-9]{10,10}"
                                   oninvalid="this.setCustomValidity('Enter 10 digit cpr')"
                                   onkeyup="setCustomValidity('')"> <br>

                            <label for="address">Address</label><br>
                            <input style="border-radius: 15px" type="text" required name="address" id="address"
                                   placeholder=" Enter address"> <br>
                            <br>

                        </div>

                        <div style="width:69.33%" id="carInformationColumn" class="column">
                            <h4><b>Serialnumber</b></h4>
                            <input style="border-radius: 15px" type="text" name="serialnumber"
                                   id="serialnumber" placeholder=" Enter serialnumber"><br>

                            <br><h4><b> Select car type</b></h4>
                            <input type="radio" name="type" id="type1" value="luxury"
                                   onclick="return checkPrice()">
                            <label for="type1">Luxury</label>
                            <input type="radio" name="type" id="type2" value="big"
                                   onclick="return checkPrice()">
                            <label for="type2">Big</label>
                            <input type="radio" name="type" id="type3" value="medium"
                                   onclick="return checkPrice()">
                            <label for="type3">Medium</label>
                            <input type="radio" name="type" id="type4" value="small"
                                   onclick="return checkPrice()">
                            <label for="type4">Small</label>


                            <br><h4><b>Select leasing period</b></h4>
                            <input type="radio" name="leasingperiod" id="4m" value="4"
                                   onclick="return checkPrice(),displayDays()">
                            <label for="4m">4 Months</label>
                            <input type="radio" name="leasingperiod" id="8m" value="8"
                                   onclick="return checkPrice(),displayDays()">
                            <label for="8m">8 Months</label>
                            <input type="radio" name="leasingperiod" id="12m" value="12"
                                   onclick="return checkPrice(),displayDays()">
                            <label for="12m">12 Months</label>
                            <input type="radio" name="leasingperiod" id="24m" value="24"
                                   onclick="return checkPrice(),displayDays()">
                            <label for="24m">24 Months</label>
                            <input type="radio" name="leasingperiod" id="36m" value="36"
                                   onclick="return checkPrice(),displayDays()">
                            <label for="36m">36 Months</label>

                            <br><br>

                            <label for="monthlyPrice">Monthly price: </label>
                            <input style="border-radius: 15px" type="text" id="monthlyPrice" readonly
                                   name="priceMonthly">
                            <br>

                            <label for="totalPrice">Total price:</label>
                            <input style="border-radius: 15px; margin-left: 21px" type="text" id="totalPrice" readonly
                                   name="priceTotal">
                            <br><br>

                            <label for="box1">Start date: </label>
                            <input style="border-radius: 15px" type="text" id="box1" readonly name="startdate">
                            <label for="box2">End date: </label>
                            <input style="border-radius: 15px" type="text" id="box2" readonly name="enddate">

                            <button id="createButton" type="submit" class="btn btn-primary btn-lg">Submit</button>
                            <br>
                        </div>
                    </form>

                </div>
            </div>


            <script>

                function displayDays() {

                    let days = 0;
                    if (document.getElementById("4m").checked === true) {
                        days = 120;
                    }
                    if (document.getElementById("8m").checked === true) {
                        days = 240;
                    }
                    if (document.getElementById("12m").checked === true) {
                        days = 360;
                    }
                    if (document.getElementById("24m").checked === true) {
                        days = 720;
                    }
                    if (document.getElementById("36m").checked === true) {
                        days = 1080
                    }

                    Date.prototype.addDays = function (days) {
                        //TODO Why const instead of let?
                        const date = new Date(this.valueOf());
                        date.setDate(date.getDate() + days);
                        return date;
                    }
                    let date = new Date;
                    date = date.addDays(days)

                    document.getElementById("box1").value = new Date().toISOString().slice(0, 10);
                    document.getElementById("box2").value = date.toISOString().slice(0, 10);

                }

                function checkPrice() {
                    let priceM = 0;
                    if (document.getElementById("type1").checked === true) {
                        priceM = 20000;
                    }
                    if (document.getElementById("type2").checked === true) {
                        priceM = 10000;
                    }
                    if (document.getElementById("type3").checked === true) {
                        priceM = 5000;
                    }
                    if (document.getElementById("type4").checked === true) {
                        priceM = 2500;
                    }
                    document.getElementById("monthlyPrice").value = priceM;

                    //TODO read up on why === instead of ==
                    //The main difference between the == and === operator in javascript is that the == operator does the
                    // type conversion of the operands before comparison, whereas the === operator compares the values as well as the data types of the operands
                    let priceT = 0;
                    if (document.getElementById("4m").checked === true) {
                        priceT = (priceM * 4);
                    }
                    if (document.getElementById("8m").checked === true) {
                        priceT = (priceM * 8);
                    }
                    if (document.getElementById("12m").checked === true) {
                        priceT = (priceM * 12);
                    }
                    if (document.getElementById("24m").checked === true) {
                        priceT = (priceM * 24);
                    }
                    if (document.getElementById("36m").checked === true) {
                        priceT = (priceM * 36);
                    }


                    document.getElementById("totalPrice").value = priceT;
                }
            </script>


            <div id="2-qs-2" aria-labelledby="ui-id-17" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">
                <!--
                                <label for="cprCancel">CPR</label><br>
                                <input style="border-radius: 15px" type="text" name="cprCancel" id="cprCancel"
                                       placeholder=" Enter CPR"> <br>
                -->

                <table class="container">
                    <tbody>
                    <tr>
                        <td>ContractID</td>
                        <td>Type</td>
                        <td>Serialnumber</td>
                        <td>Start date</td>
                        <td>End date</td>
                    </tr>
                    <tr th:each="leasingContract :${allContracts}">
                        <td th:text="${leasingContract.contractID}"></td>
                        <td th:text="${leasingContract.type}"></td>
                        <td th:text="${leasingContract.serialnumber}"></td>
                        <td th:text="${leasingContract.startdate}"></td>
                        <td th:text="${leasingContract.enddate}"></td>
                    </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="column">
                        <form action="/cancelleasing" method="post">
                            <label for="contractID">Contract ID</label><br>
                            <input style="border-radius: 15px" type="number" required name="contractID" id="contractID"
                                   placeholder=" Enter Contract ID"> <br><br>

                            <br><h4><b>Is the car damaged?</b></h4>
                            <label for="yes">Yes</label>
                            <input type="radio" name="damageCheck" id="yes" value="1"
                                   onclick="return checkDamaged()">
                            <label for="no">No</label>
                            <input type="radio" name="damageCheck" id="no" value="0"
                                   onclick="return checkDamaged()"> <br>

                            <input style="border-radius: 15px" type="text" required hidden name="damageCheck" id="damageCheck">
                            <br>

                            <label for="damagePrice">Price for damages: </label><br>
                            <input style="border-radius: 15px" type="text" id="damagePrice" name="damagePrice">

                            <button id="cancelButton" type="submit" class="btn btn-primary btn-lg">Submit</button>
                            <br>
                        </form>
                    </div>
                    <div class="column">
                        <form>

                            <input type="checkbox" name="damageType" id="damage1" value="damage1"
                                   onclick="return checkDamageType()">
                            <label for="type1">Scratch</label>
                            <input type="checkbox" name="damageType" id="damage2" value="damage2"
                                   onclick="return checkDamageType()">
                            <label for="type2">Rim damaged</label>
                            <input type="checkbox" name="damageType" id="damage3" value="damage3"
                                   onclick="return checkDamageType()">
                            <label for="type3">Cracked windshield</label>
                            <input type="checkbox" name="damageType" id="damage4" value="damage4"
                                   onclick="return checkDamageType()">
                            <label for="type4">Engine problem</label>

                            
                        </form>

                    </div>
                </div>
            </div>
            <script>
                function checkDamaged() {
                    let damaged = 0;
                    if (document.getElementById("yes").checked === true) {
                        damaged = 1;
                    }

                    document.getElementById("damageCheck").value = damaged;
                }

                function checkDamageType(){
                    let damagePrice = 0;
                    if (document.getElementById("damage1").checked === true){
                        damagePrice = damagePrice + 500;
                    }
                    if (document.getElementById("damage2").checked === true){
                        damagePrice = damagePrice + 1000;
                    }
                    if (document.getElementById("damage3").checked === true){
                        damagePrice = damagePrice + 2000;
                    }
                    if (document.getElementById("damage4").checked === true){
                        damagePrice = damagePrice + 4000;
                    }
                    document.getElementById("damagePrice").value = damagePrice;
                }
            </script>


            <div id="2-qs-4" aria-labelledby="ui-id-19" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">

        <!--
                <form action="/viewContract" method="get">
                    <h4><b>View Leasing</b></h4>
                    <input style="border-radius: 15px" type="text" required name="contract ID"
                           placeholder=" Enter contract ID"> <br><br>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>
        -->
                <table class="container">
                    <tbody>
                    <tr>
                        <td>ContractID</td>
                        <td>Serialnumber</td>
                        <td>Type</td>
                        <td>Price monthly</td>
                        <td>Price total</td>
                        <td>Start date</td>
                        <td>End date</td>
                        <td>Leasingperiod</td>

                    </tr>
                    <tr th:each="leasingContract :${ContractsInfo}">
                        <td th:text="${leasingContract.contractID}"></td>
                        <td th:text="${leasingContract.serialnumber}"></td>
                        <td th:text="${leasingContract.type}"></td>
                        <td th:text="${leasingContract.priceMonthly}"></td>
                        <td th:text="${leasingContract.priceTotal}"></td>
                        <td th:text="${leasingContract.startdate}"></td>
                        <td th:text="${leasingContract.enddate}"></td>
                        <td th:text="${leasingContract.leasingperiod}"></td>

                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>

    <div id="accounting" aria-labelledby="ui-id-4" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">

        <div id="tabs-accounting" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
            <ul role="tablist"
                class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
                <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                    aria-controls="3-qs-1" aria-labelledby="ui-id-21" aria-selected="false"
                    aria-expanded="false">
                    <a href="#3-qs-1" tabindex="-1" class="ui-tabs-anchor" id="ui-id-21">1</a>
                </li>
                <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                    aria-controls="3-qs-2" aria-labelledby="ui-id-22" aria-selected="false"
                    aria-expanded="false">
                    <a href="#3-qs-2" tabindex="-1" class="ui-tabs-anchor" id="ui-id-22">2</a>
                </li>
                <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                    aria-controls="3-qs-3" aria-labelledby="ui-id-23" aria-selected="false"
                    aria-expanded="false">
                    <a href="#3-qs-3" tabindex="-1" class="ui-tabs-anchor" id="ui-id-23">3</a>
                </li>
                <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                    aria-controls="3-qs-4" aria-labelledby="ui-id-24" aria-selected="false"
                    aria-expanded="false">
                    <a href="#3-qs-4" tabindex="-1" class="ui-tabs-anchor" id="ui-id-24">4</a>
                </li>
            </ul>

            <div id="3-qs-1" aria-labelledby="ui-id-21" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">

            </div>

            <div id="3-qs-2" aria-labelledby="ui-id-22" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">
                <p>:</p>


            </div>

            <div id="3-qs-3" aria-labelledby="ui-id-23" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">

            </div>

            <div id="3-qs-4" aria-labelledby="ui-id-24" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">

            </div>
        </div>
    </div>


    <div id="service" aria-labelledby="ui-id-5" role="tabpanel" class="ui-tabs-panel ui-corner-bottom
    ui-widget-content" aria-hidden="true" style="display: none;">
        <div class="row">
            <div class="column">

                <table class="container">
                    <tbody>
                    <tr>
                        <td>Serialnumber</td>
                        <td>Type</td>
                    </tr>
                    <tr th:each="leasingContract :${damagedCars}">
                        <td th:text="${leasingContract.serialnumber}"></td>
                        <td th:text="${leasingContract.type}"></td>
                    </tr>
                    </tbody>
                </table>

                <form action="/service" method="post">

                    <h4><b>Serialnumber</b></h4>
                    <input style="border-radius: 15px" type="text" required name="serialnumber"
                           placeholder=" Enter serialnumber"> <br><br>

                    <!--
                                                <br><h4><b>Car repair status</b></h4>
                                                <label for="repaired">Repaired</label>
                                                <input type="checkbox" name="repaired" id="repaired" value="Repaired">

                                                                      onclick="return ValidateCheckType(),checkPrice()">
                                                <label for="damaged">Damaged</label>
                                                <input type="radio" name="damaged" id="damaged" value="Damaged">
                                                                   onclick="return ValidateCheckType(),checkPrice()">

                    <input style="border-radius: 15px" type="text" required name="repairedCheck" id="repairedCheck"
                           onclick="return checkRepaired()">
                           -->
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>

                <script>
                    function checkRepaired() {
                        let repaired = 0;
                        if (document.getElementById("repaired").checked === true) {
                            repaired = 1;
                        }

                        document.getElementById("repairedCheck").value = repaired;
                    }
                </script>

                <br><br>

            </div>
            <div class="column">

                <img src="https://img.freepik.com/free-photo/muscular-car-service-worker-repairing-vehicle_146671-19605.jpg?w=2000"
                     alt="Mechanic"
                     style="object-fit: cover;
                     width: auto;
                      height: 300px;
                      float: left;">
            </div>
        </div>
    </div>
</div>
</body>
</html>

